# DB connection string
DATABASE_URL=

# gRPC server address
USER_ACCOUNTS_GRPC_URL=localhost:50052

# Auth: private RSA key used to sign access and refresh tokens.
JWT_PRIVATE_KEY=change-me
ACCESS_TOKEN_EXPIRES_IN=10m
REFRESH_TOKEN_EXPIRES_IN=20m
CONFIRMATION_CODE_EXPIRES_IN=1
RECOVERY_CODE_EXPIRES_IN=1

# Email
SMTP_URL=smtp.gmail.com
EMAIL_LOGIN_GOOGLE=
EMAIL_PASSWORD_GOOGLE=
