# gRPC server bind address for the posts microservice.
POSTS_GRPC_URL=localhost:50053

# gRPC target address for the files microservice.
FILES_GRPC_URL=localhost:50051

# PostgreSQL database used by the Posts service.
POSTS_DATABASE_URL="postgresql://postgres:123456@localhost:5432/posts"


